.header__lang-link {
  position: absolute;
  width: 22px;
  height: 20px;
  left: 242px;
  top: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: right;
  text-decoration-line: underline;

  color: #ffffff;
}
